@model LWBugTracking.Models.TicketAttachment



<section role="main" class="content-body">
    <header class="page-header">
        <h2>Ticket List</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="@Url.Action("Index","Home")">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Dashboard</span></li>
                <li><span>Tickets</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>
    <div>
        <h4>TicketAttachment</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Ticket.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ticket.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.User.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FilePath)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FilePath)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Created)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Created)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>

</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
}