@model LWBugTracking.Models.TicketNotification
@using LWBugTracking.Models
@using Microsoft.AspNet.Identity

<section role="main" class="content-body">
    <header class="page-header">
        <h2>Compose</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="@Url.Action("Index","Home")">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Dashboard</span></li>
                <li><span>Notifications</span></li>
                <li><span>Compose</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>

    <!-- start: page -->

    <section class="content-with-menu content-with-menu-has-toolbar mailbox">
        <div class="content-with-menu-container" data-mailbox data-mailbox-view="compose">
            <div class="inner-body mailbox-folder">
                <div class="inner-body">
                    <div class="mailbox-compose">
                        <div class="form-horizontal form-bordered form-bordered">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("Created", DateTime.Now)
                                @Html.Hidden("Read",false)

                                <div class="form-group form-group-invisible">
                                    <label for="to" class="control-label-invisible">To:</label>
                                    <div class="col-sm-offset-2 col-sm-9 col-md-offset-1 col-md-10">
                                        @Html.DropDownList("RecipientId", null, htmlAttributes: new { @class = "form-control" })
                                        @*<input id="to" type="text" class="form-control form-control-invisible" data-role="tagsinput" data-tag-class="label label-primary" value="">*@
                                    </div>
                                </div>

                                <div class="form-group form-group-invisible">
                                    <label for="subject" class="control-label-invisible">Ticket:</label>
                                    <div class="col-sm-offset-2 col-sm-9 col-md-offset-1 col-md-10">
                                        @Html.DropDownList("TicketId", null, htmlAttributes: new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="form-group form-group-invisible">
                                    <label for="to" class="control-label-invisible">Message:</label>
                                    <div class="col-sm-offset-2 col-sm-9 col-md-offset-1 col-md-10">
                                        @Html.EditorFor(model => model.NotificationBody, new { htmlAttributes = new { @class = "form-control" } })
                                        @*<input id="to" type="text" class="form-control form-control-invisible" data-role="tagsinput" data-tag-class="label label-primary" value="">*@
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-1 col-md-11">
                                        <input type="submit" value="Send" class="btn btn-primary" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
