@model IEnumerable<LWBugTracking.Models.TicketNotification>
@using LWBugTracking.Models
@using Microsoft.AspNet.Identity

<section role="main" class="content-body">
    <header class="page-header">
        <h2>Notifications</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="@Url.Action("Index","Home")">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Dashboard</span></li>
                <li><span>Tickets</span></li>
                <li><span>Notifications</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>

    <!-- start: page -->

    <section class="content-with-menu mailbox">
        <div class="content-with-menu-container" data-mailbox data-mailbox-view="folder">

            <div class="inner-body mailbox-folder">
                <!-- START: .mailbox-header -->
                <header class="mailbox-header">
                    <div class="row">
                        <div class="col-sm-4">
                            <h1 class="mailbox-title text-light m-none">
                                <a id="mailboxToggleSidebar" class="sidebar-toggle-btn trigger-toggle-sidebar">
                                    <span class="line"></span>
                                    <span class="line"></span>
                                    <span class="line"></span>
                                    <span class="line line-angle1"></span>
                                    <span class="line line-angle2"></span>
                                </a>

                                Inbox
                            </h1>
                        </div>
                        <div class="col-sm-4">
                            <a href="mailbox-compose.html" class="btn btn-block btn-primary btn-md pt-sm pb-sm text-md">
                                <i class="fa fa-envelope mr-xs"></i>
                                Compose
                            </a>
                        </div>
                        <div class="col-sm-4">
                            @*<div class="search">
                                <div class="input-group input-search">
                                    <input type="text" class="form-control" name="q" id="q" placeholder="Search...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </div>*@
                        </div>
                    </div>
                </header>
                <!-- END: .mailbox-header -->
                @if (User.IsInRole("Admin"))
                {
                    <div id="mailbox-email-list" class="mailbox-email-list">
                        <div class="nano">
                            <div class="nano-content">
                                <ul id="" class="list-unstyled">
                                    @foreach (var item in Model.OrderByDescending(n => n.Created))
                                    {
                                        if (item.Read)
                                        {
                                            <li>
                                                <div class="col-sender">
                                                    <p class="m-none ib">@item.Recipient.FirstName @item.Recipient.LastName</p>
                                                </div>
                                                <a href="@Url.Action("Details","TicketNotifications", new { id = item.Id})">
                                                    <div class="col-mail">
                                                        <p class="m-none mail-content">
                                                            <span class="subject">@item.NotificationBody</span>
                                                        </p>
                                                        <p class="m-none mail-date">@item.Created.ToString("MM/dd/yy h:mm tt")</p>
                                                    </div>
                                                </a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="unread">
                                                <div class="col-sender">
                                                    <p class="m-none ib">@item.Recipient.FirstName @item.Recipient.LastName</p>
                                                </div>
                                                <a href="@Url.Action("Details","TicketNotifications", new { id = item.Id})">
                                                    <div class="col-mail">
                                                        <p class="m-none mail-content">
                                                            <span class="subject">@item.NotificationBody</span>
                                                        </p>
                                                        <p class="m-none mail-date">@item.Created.ToString("MM/dd/yy h:mm tt")</p>
                                                    </div>
                                                </a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div id="mailbox-email-list" class="mailbox-email-list">
                        <div class="nano">
                            <div class="nano-content">
                                <ul id="" class="list-unstyled">
                                    @foreach (var item in Model.OrderByDescending(n => n.Created))
                                    {
                                        if (item.RecipientId == User.Identity.GetUserId())
                                        {
                                            if (item.Read)
                                            {
                                                <li>
                                                    <div class="col-sender">
                                                        <div class="checkbox-custom ib">
                                                            @using (Html.BeginForm("Edit", "TicketNotifications", FormMethod.Post, new { @class = "form-horizontal" }))
                                                            {
                                                                @Html.AntiForgeryToken()
                                                                @Html.Hidden("Id", item.Id)
                                                                @Html.Hidden("TicketId", item.TicketId)
                                                                @Html.Hidden("RecipientId", item.RecipientId)
                                                                @Html.Hidden("NotificationBody", item.NotificationBody)
                                                                @Html.Hidden("Created", item.Created)
                                                                @Html.Hidden("notificationRead", false)

                                                                <button class="fa fa-check text-success" type="submit"></button>
                                                            }
                                                        </div>

                                                        <div class="checkbox-custom ib">
                                                            @using (Html.BeginForm("Delete", "TicketNotifications", FormMethod.Post, new { @class = "form-horizontal" }))
                                                            {
                                                                @Html.AntiForgeryToken()
                                                                @Html.Hidden("id", item.Id)

                                                                <button class="fa fa-times text-danger" type="submit"></button>
                                                            }
                                                        </div>
                                                        <p class="m-none ib">@item.Recipient.FirstName @item.Recipient.LastName</p>
                                                    </div>
                                                    <a href="@Url.Action("Details","TicketNotifications", new { id = item.Id})">
                                                        <div class="col-mail">
                                                            <p class="m-none mail-content">
                                                                <span class="subject">@item.NotificationBody</span>
                                                            </p>
                                                            <p class="m-none mail-date">@item.Created.ToString("MM/dd/yy h:mm tt")</p>
                                                        </div>
                                                    </a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="unread">
                                                    <div class="col-sender">
                                                        <div class="checkbox-custom checkbox-text-primary ib">
                                                            @using (Html.BeginForm("Edit", "TicketNotifications", FormMethod.Post, new { @class = "form-horizontal" }))
                                                            {
                                                                @Html.AntiForgeryToken()
                                                                @Html.Hidden("Id", item.Id)
                                                                @Html.Hidden("TicketId", item.TicketId)
                                                                @Html.Hidden("RecipientId", item.RecipientId)
                                                                @Html.Hidden("NotificationBody", item.NotificationBody)
                                                                @Html.Hidden("Created", item.Created)
                                                                @Html.Hidden("notificationRead", true)

                                                                <button class="fa fa-check text-info" type="submit"></button>
                                                            }
                                                        </div>

                                                        <div class="checkbox-custom ib">
                                                            @using (Html.BeginForm("Delete", "TicketNotifications", FormMethod.Post, new { @class = "form-horizontal" }))
                                                            {
                                                                @Html.AntiForgeryToken()
                                                                @Html.Hidden("id", item.Id)

                                                                <button class="fa fa-times text-danger" type="submit"></button>
                                                            }
                                                        </div>
                                                        <p class="m-none ib">@item.Recipient.FirstName @item.Recipient.LastName</p>
                                                    </div>
                                                    <a href="@Url.Action("Details","TicketNotifications", new { id = item.Id})">
                                                        <div class="col-mail">
                                                            <p class="m-none mail-content">
                                                                <span class="subject">@item.NotificationBody</span>
                                                            </p>
                                                            <p class="m-none mail-date">@item.Created.ToString("MM/dd/yy h:mm tt")</p>
                                                        </div>
                                                    </a>
                                                </li>
                                            }
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
