@using Microsoft.AspNet.Identity
@model LWBugTracking.Models.Ticket
@using LWBugTracking.Helper
<section role="main" class="content-body">
    <header class="page-header">
        <h2>Edit</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="@Url.Action("Index","Home")">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Dashboard</span></li>
                <li><span>Tickets</span></li>
                <li><span>Edit</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>

    <!-- start: page -->

    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="fa fa-caret-down"></a>
            </div>

            <h2 class="panel-title">Ticket - @Model.Title</h2>
        </header>
        <div class="panel-body">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Created)
                @Html.HiddenFor(model => model.ProjectId)
                @Html.HiddenFor(model => model.OwnerUserId)
                @Html.HiddenFor(model => model.TicketTypeId)
                if (User.IsInRole("Developer"))
                {
                    @Html.HiddenFor(model => model.AssignedToUserId)
                }

                <div class="form-horizontal">

                    <div class="form-group">
                        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TicketPriorityId, "Priority", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("TicketPriorityId", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                    {
                        <div class="form-group">
                            @Html.LabelFor(model => model.TicketStatusId, "Status", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("TicketStatusId", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                    }

                    @{
                        var roleHelper = new UserRolesHelper();
                    }

                    @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                    {
                        @*<div class="form-group">
                            <label class="col-md-3 control-label">Basic Multi-select</label>
                            <div class="col-md-6">
                                <select class="form-control" multiple="multiple" data-plugin-multiselect id="ms_example0">
                                    <option value="cheese">Cheese</option>
                                    <option value="tomatoes" selected>Tomatoes</option>
                                    <option value="mozarella" selected>Mozzarella</option>
                                    <option value="mushrooms">Mushrooms</option>
                                    <option value="pepperoni">Pepperoni</option>
                                    <option value="onions">@Html.DropDownList("AssignedToUserId", null, htmlAttributes: new { @class = "form-control" })</option>
                                </select>
                            </div>
                        </div>*@

                        <div class="form-group">
                            @Html.LabelFor(model => model.AssignedToUserId, "Assigned Developer", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("AssignedToUserId", null, htmlAttributes: new { @class = "form-control" })

                            </div>
                        </div>
                    }

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>

        </div>
    </section>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
    <!-- end: page -->
</section>
